<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Solicitud {{solicitud.Kit}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Estado:</ion-label>
      <ion-label>
        <div *ngIf="solicitud.Estado == 1">En Proceso</div>
        <div *ngIf="solicitud.Estado == 2">Procesada</div>
        <div *ngIf="solicitud.Estado == 3">Recibido</div>

      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-label>{{ date }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Kit:<br></ion-label>
        <ion-label>{{ solicitud.Kit }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Manzana:</ion-label>
        <ion-label>{{ solicitud.Manzana }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Vivienda:</ion-label>
        <ion-label>{{ solicitud.Vivienda }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Usuario:</ion-label>
        <ion-label>{{ solicitud.usuario }}</ion-label>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
  <ion-button color="success"  *ngIf="solicitud.Estado == 2" (click)="confirmarRecibido()">Confirmar Recepción</ion-button>
  <ion-button color="danger" (click)="closeModal()">Cerrar</ion-button>
</div>
</ion-content>