<ion-header>
  <ion-toolbar>
    <ion-title>Solicitudes</ion-title>
    <ion-button color="warning" slot="end" (click)="logout()">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item *ngFor="let solicitud of solicitudes">
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col size="12" style="text-align: center">
            <div style="text-align: center">
              <ion-list>
                <ion-item>
                  <ion-label>Estado:</ion-label>
                  <ion-label>
                    <div *ngIf="solicitud.Estado == 1">En Proceso</div>
                    <div *ngIf="solicitud.Estado == 2">Procesada</div>
                    <div *ngIf="solicitud.Estado == 3">Recibido</div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Fecha:</ion-label>
                  <ion-label>{{ solicitud.Fecha }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Kit:<br></ion-label>
                  <ion-label>{{ solicitud.Kit }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Manzana:</ion-label>
                  <ion-label>{{ solicitud.Manzana }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Vivienda:</ion-label>
                  <ion-label>{{ solicitud.Vivienda }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Usuario:</ion-label>
                  <ion-label>{{ solicitud.usuario }}</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
          <ion-col size="12" justify-content-center align-items-center>
            <div style="text-align: center">
              <ion-button
                [ngClass]="{'solicitudNoProcesada' : solicitud.Estado == 1, 'solicitudProcesada': solicitud.Estado == 2}"
                disabled="{{ solicitud.Estado == 3 ? true : (solicitud.Estado == 2 ? true :false)}}"
                (click)="procesarSolicitud(solicitud)">Procesar Solicitud</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-item>
  </ion-list>
</ion-content>