<ion-header>
  <ion-toolbar>
    <ion-title>Kits Viviendas</ion-title>
    <ion-button color="warning" slot="end" (click)="logout()">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let manzana of manzanas">
      <ion-grid>
        <h3>Manzana {{ manzana.Nombre }}</h3>
        <ion-list>
          <ion-grid>
            <ion-item *ngFor="let vivienda of manzana.Viviendas">
              <ion-card>
                <ion-card-header>
                  <ion-card-title style="text-align: center">Vivienda {{ vivienda.Cod }} </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  <ion-grid>

                    <ion-row justify-content-center align-items-center>
                      <ion-button class="button-kits"
                        [ngClass]="{'kitListo': vivienda.Cimiento == 3, 'kitEnviado' : vivienda.Cimiento == 2, 'kitPedido': vivienda.Cimiento == 1, 'kitNoPedido': vivienda.Cimiento == 0}"
                        disabled="{{ vivienda.Cimiento == 3 ? true : false}}"
                        (click)="solicitud(manzana, vivienda, 'Cimiento', vivienda.Cimiento)"><img class="icono"
                          src="assets/icon/cimiento.png"></ion-button>
                      <ion-button class="button-kits"
                        [ngClass]="{'kitListo' : vivienda.Estructura == 3, 'kitEnviado' : vivienda.Estructura == 2, 'kitPedido' : vivienda.Estructura == 1, 'kitNoPedido' : vivienda.Estructura == 0}"
                        disabled="{{ vivienda.Estructura == 3 ? true : false }}"
                        (click)="solicitud(manzana, vivienda, 'Estructura', vivienda.Estructura)"><img class="icono"
                          src="assets/icon/estructura.png"></ion-button>
                    </ion-row>

                    <ion-row justify-content-center align-items-center>
                      <ion-button class="button-kits"
                        [ngClass]="{'kitListo' : vivienda.Muro == 3, 'kitEnviado' : vivienda.Muro == 2, 'kitPedido': vivienda.Muro == 1, 'kitNoPedido': vivienda.Muro == 0}"
                        disabled="{{ vivienda.Muro == 3 ? true : false }}"
                        (click)="solicitud(manzana, vivienda, 'Muro', vivienda.Muro)"><img class="icono"
                          src="assets/icon/muro.png"></ion-button>
                      <ion-button class="button-kits"
                        [ngClass]="{'kitListo' : vivienda.Separacion == 3, 'kitEnviado' : vivienda.Separacion == 2, 'kitPedido': vivienda.Separacion == 1, 'kitNoPedido': vivienda.Separacion == 0}"
                        disabled="{{ vivienda.Separacion == 3 ? true : false }}"
                        (click)="solicitud(manzana, vivienda, 'Separacion', vivienda.Separacion)"><img class="icono"
                          src="assets/icon/separaciones.png"></ion-button>

                    </ion-row>
                    <ion-row justify-content-center align-items-center>
                      <ion-button class="button-kits"
                        [ngClass]="{'kitListo' : vivienda.Electricidad == 3, 'kitEnviado' : vivienda.Electricidad == 2, 'kitPedido': vivienda.Electricidad == 1, 'kitNoPedido': vivienda.Electricidad == 0}"
                        disabled="{{ vivienda.Electricidad == 3 ? true : false }}"
                        (click)="solicitud(manzana, vivienda, 'Electricidad', vivienda.Electricidad)"><img class="icono"
                          src="assets/icon/electricidad.png"></ion-button>
                      <ion-button class="button-kits"
                        [ngClass]="{'kitListo' : vivienda.Revestimiento == 3, 'kitEnviado' : vivienda.Revestimiento == 2, 'kitPedido': vivienda.Revestimiento == 1, 'kitNoPedido': vivienda.Revestimiento == 0}"
                        disabled="{{ vivienda.Revestimiento == 3 ? true : false }}"
                        (click)="solicitud(manzana, vivienda, 'Revestimiento', vivienda.Revestimiento)"><img
                          class="icono" src="assets/icon/revestimiento.png"></ion-button>
                    </ion-row>

                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-grid>
        </ion-list>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>