.kitListo{
    --background: green;
}

.kitEnviado{
    --background: rgb(8, 70, 28);
}

.kitPedido{
    --background: orange;
}

.kitNoPedido{
    --background: grey;
}
.icono{
    width: 80px;
    height: 80px;
}
ion-card{
    display: flex;
    flex-direction: column;
    margin: 1 !important;
    width: 100%;
  }
.button-kits{
    width: 120px;
    height: 70px;
}