<ion-header>
  <ion-toolbar>
    <ion-title>ViviendApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating"> Usuario </ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"> </ion-input>
  </ion-item>
    
  <ion-item>
    <ion-label position="floating"> Contraseña </ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"> </ion-input>
  </ion-item>

  <ion-button (click)="onSubmitLogin()">Ingresar</ion-button>

</ion-content>
